.top-view {
    display: flex;
    height: 100%;
}

.side-bar-view {
    width: 20%;
    transition: 1s;
    -webkit-transition: 1s;
}

.chat-view {
    /* height: 100%; */
    width: 80%;
    margin-left: 5px;
}

.open-side-bar {
    display: none;
}

.hidden {
    display: none !important;
}

@media only screen and (max-width: 767px) {
    .side-bar-view {
        width: 0;
        visibility: hidden;
    }
    .chat-view {
        margin-left: 0;
        width: 100%;
    }
    .open-side-bar {
        display: inline;
        top: 20%;
        position: absolute;
        font-size: x-large;
        z-index: 1;
    }
    .icon.angle,
    .icon.clipboard {
        display: block;
    }
}